<ion-content>
  
  <ion-toolbar color="success">

    <ion-toolbar color="success">
      <div class="ion-text-center">
        <img [src]="dataUser.idFoto || './assets/perfil.png'" class="perfil">
  
        <ion-text>
          <h5>¡Hola {{ dataUser.nombre || 'Juan Fernando!' }}</h5>
          <p>Tu correo es  {{ dataUser.email || 'juan@email.com' }}</p>
        </ion-text>
  
      </div>
  
    </ion-toolbar>
  
    <ion-toolbar color="success" class="paddingToolbar2">
      <ion-text slot="start">
          <h6>{{ dataUser.username || 'Fernando231' }}</h6>
          <p>Tu Codigo</p>
      </ion-text>
  
      <ion-text slot="end">
        <h6>{{ dataUser.clientes || 11 }}</h6>
        <p>Clientes</p>
      </ion-text>
    </ion-toolbar>

  </ion-toolbar>

  <ion-list class="paddingCenter">
    <ion-list-header>
      <ion-text color="success">
        Detalles de tus Ventas
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      <ion-label>
        <h2>Ventas entregadas</h2>
      </ion-label>
      <p slot="end">{{ dataUser.ventasEntregadas || 13 }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>
        <h2>Ganancias por ventas</h2>
      </ion-label>
      <p slot="end">{{ dataUser.coinsVentas || '$23.000' }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="cellular-outline"></ion-icon>
      <ion-label>
        <h2>Valance por ganar</h2>
      </ion-label>
      <p slot="end">{{ dataUser.valanceGanar || '$0' }}</p>
    </ion-item>

  </ion-list>

  <ion-list class="paddingCenter">
    <ion-list-header>
      <ion-text color="success">
        Tus comisiones pendientes
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      <ion-label>
        <h2>Ventas por entregar</h2>
      </ion-label>
      <p slot="end">{{ dataUser.ventasPorEntregar || 13 }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>
        <h2>Ganancias de ventas por...</h2>
      </ion-label>
      <p slot="end">{{ dataUser.coinsPorVentas || '$23.000' }}</p>
    </ion-item>

  </ion-list>

  <ion-list class="paddingCenter">
    <ion-list-header>
      <ion-text color="success">
        Todas tus ventas
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      <ion-label>
        <h2>Ventas totales</h2>
      </ion-label>
      <p slot="end">{{ dataUser.ventasTotales || 60 }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>
        <h2>Ganancias totales</h2>
      </ion-label>
      <p slot="end">{{ dataUser.coinsTotalesVentas || '$23.000' }}</p>
    </ion-item>

  </ion-list>

</ion-content>
