<ion-content>
  
  <ion-toolbar color="success">

    <ion-toolbar color="success">
      <div class="ion-text-center">
        <img [src]="dataUser.idFoto || './assets/perfil.png'" class="perfil">
  
        <ion-text>
          <h5>¡Hola {{ dataUser.nombre }}</h5>
          <p>Tu correo es  {{ dataUser.email }}</p>
        </ion-text>
  
      </div>
  
    </ion-toolbar>
  
    <ion-toolbar color="success" class="paddingToolbar2">
      <ion-text slot="start">
          <h6>{{ dataUser.username }}</h6>
          <p>Tu Codigo</p>
      </ion-text>
  
      <ion-text slot="end">
        <h6>{{ dataUser.clientes || 11 }}</h6>
        <p>{{ dataUser.cedula }}</p>
      </ion-text>
    </ion-toolbar>

  </ion-toolbar>

  <ion-list class="paddingCenter">
    <ion-list-header>
      <ion-text color="success">
        Detalles de tus Ventas
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      <ion-label>
        <h2>Ventas entregadas</h2>
      </ion-label>
      <p slot="end">{{ dataResumen.cantidadVentasTotales || 13 }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>
        <h2>Ganancias por ventas</h2>
      </ion-label>
      <p slot="end">{{ _tools.monedaChange( 3, 2, dataResumen.gananciasVentasTotales || 0 ) }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="cellular-outline"></ion-icon>
      <ion-label>
        <h2>Valance por ganar</h2>
      </ion-label>
      <p slot="end">{{ _tools.monedaChange( 3, 2, dataResumen.ventasEntregadasDetalles || 0 ) }}</p>
    </ion-item>

  </ion-list>

  <ion-list class="paddingCenter">
    <ion-list-header>
      <ion-text color="success">
        Tus comisiones pendientes
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      <ion-label>
        <h2>Ventas por entregar</h2>
      </ion-label>
      <p slot="end">{{ dataResumen.ganaciasVentasDetalles || 13 }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>
        <h2>Ganancias de ventas por...</h2>
      </ion-label>
      <p slot="end">{{ _tools.monedaChange( 3, 2, dataResumen.valanceGanarDetalles || 0 ) }}</p>
    </ion-item>

  </ion-list>

  <ion-list class="paddingCenter">
    <ion-list-header>
      <ion-text color="success">
        Todas tus ventas
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      <ion-label>
        <h2>Ventas totales</h2>
      </ion-label>
      <p slot="end">{{ dataResumen.ventasEntregarComision || 60  }}</p>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>
        <h2>Ganancias totales</h2>
      </ion-label>
      <p slot="end">{{ _tools.monedaChange( 3, 2, dataResumen.gananciasVentasComision || 0 ) }}</p>
    </ion-item>

  </ion-list>

</ion-content>
