<ion-header no-border translucent>

  <ion-toolbar color="success">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text>
      <ion-label>
        Productos
      </ion-label>
    </ion-text>
    <ion-button color="light" fill="clear" slot="end" [routerLink]="['/chech']">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">

    <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioCategoria( $event )">
      <ion-segment-button mode="md" [value]="item.id" *ngFor="let item of listCategorias">
        <ion-label text-capitalize> {{ item.nombre }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  
  <!--<ion-card class="padding_car" *ngFor="let off of listProductos">
    <img [src]="off.foto" class="imgPrincipal">
    <ion-card-content no-border class="padding_car">
      <ion-text color="dark" class="sizeText">
        <ion-label>
          {{ off.titulo }}
          <p class="sizeSubheader">{{ off.detalle }}</p>
        </ion-label>
      </ion-text>
    </ion-card-content>
  </ion-card> -->

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let off of listProductos" size="6" [routerLink]="[ '/tabs/productoView', off.id ]">
        <img [src]="off.foto || './assets/product.jpg'" class="imgPrincipal">
        <ion-text color="dark" class="sizeText">
          <ion-label>
            {{ off.titulo }}
            <p class="sizeSubheader">{{ off['idEmpresa']?.nombre }}</p>
          </ion-label>
        </ion-text>
        <ion-text color="success">
          <h6>{{ ( off.precioOferta || off.precioCompra || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
