.padding_car{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;  
    margin-bottom: 0px !important; 
    border-radius: 0px !important; 
    font-size: 0px !important; 
    -webkit-box-shado: 0 3px 1px -2px rgba(255,255,255,0.2), 0 2px 2px 0 rgba(255, 253, 253, 0.2), 0 1px 5px 0 rgba(255,255,255,0.2) !important;
    box-shadow: 0 3px 1px -2px rgba(255,255,255,0.2), 0 2px 2px 0 rgba(255, 253, 253, 0.2), 0 1px 5px 0 rgba(255,255,255,0.2) !important;
}
.ion_list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: -28px !important;
}

.subheader {
  font-size: 11px;
}
.sizeText{
  font-size: 11px;
}
.sizeSubheader{
  font-size: 10px;
}
.imgRegistro{
  height: 181px !important;
  width: 331px !important;
  border-radius: 5px;
}
.imgServicio{
  height: 106px !important;
  width: 331px !important;
  border-radius: 5px;
}
.imgPrincipal{
  height: 140px !important;
  width: 220px !important;
}
.textFooter{
  font-size: 11px;
}
.imgPerfil{
  height: 40px;
  width: 100%;
}
