<ion-header no-border translucent>

  <ion-toolbar color="success">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text>
      <ion-label>
        Menu
      </ion-label>
    </ion-text>
    <ion-button color="light" fill="clear" slot="end" [routerLink]="['/chech']">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-item-divider>
    <ion-list>
      
      <ion-menu-toggle autoHide="false" *ngFor="let c of dataMenu">
        <ion-item [routerLink]="c.redirectTo" size="12">
          <ion-icon slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{ c.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <ion-item *ngIf="data.id" (click)="cerrar_seccion()" size="12">
          <ion-icon slot="start" name="walk"></ion-icon>
          <ion-label>
            <h6>Cerrar sesion</h6>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-item-divider>
  
</ion-content>
