<ion-header no-border translucent>

  <ion-toolbar color="success">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text>
      <ion-label>
        Categorias
      </ion-label>
    </ion-text>
    <ion-button color="light" fill="clear" slot="end" [routerLink]="['/chech']">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <h2>Compartir tus</h2>
        <h3>Primera categorias</h3>
      </ion-label>
      <ion-button color="success" slot="end">
        Compartir
      </ion-button>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let off of listCategorias" size="6" (click)="openCategoria(off)">
          <img [src]="off.foto || './assets/product.jpg'" class="imgPrincipal">
          <ion-text color="success" class="sizeText">
            <ion-label>
              {{ off.nombre }}
              <p class="sizeSubheader">{{ off['idEmpresa']?.nombre || 'suacar' }}</p>
              <p class="sizeunidad">({{ ( off.unidades || 13 ) }} unidades)</p>
            </ion-label>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
