.divPrincipal{
    padding: 25px !important;
}
.texto1{
    font-size: 13px;
}
.texto2{
    font-size: 10px;
}
.inputemail{
    font-size: 13px !important;
    color: green !important;
    border: 1px solid #bfbfbf !important;
    border-radius: 6px !important;
    text-align: left !important;
}