.colorText {
    color: white;
}
.label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
    //font-size: 45px;
  }
  
  .clasificacion {
    direction: rtl;
    text-align: left;   
    unicode-bidi: bidi-override;
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ .label {
    color: orange;
  }
  .checkcolor {
    color: orange;
  }