<ion-header no-border translucent>

  <ion-toolbar color="success">
    
    <ion-toolbar color="success">
      <ion-buttons slot="start" color="primary">
        <ion-back-button defaultHref="/tabs"></ion-back-button>
      </ion-buttons>
      <ion-text>
        <ion-label>
          Productos
        </ion-label>
      </ion-text>
      <ion-button color="light" fill="clear" slot="end" (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-toolbar color="success">
      <ion-segment scrollable mode="md" color="light" (ionChange)="cambioVista( $event )">
        <ion-segment-button color="light" mode="md" [value]="item" *ngFor="let item of listOpcion">
          <ion-label class="colorText" text-capitalize> {{ item }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-text color="success">
    <p>¡Gana Dinero Compartiendo!</p>
  </ion-text>
  <ion-grid *ngIf="dataVisible == 'Resumen'">
    <ion-row>
      <ion-col size="12">
        <ion-slides class="alto_slide" *ngIf="data" pager="true" [options]="slideOptsTho" #slideWithNav>
          <ion-slide *ngFor="let s of data.files">
            <img class="ancho_slide" [src]="s | imagen">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12">
        <ion-text color="dark" slot="start">
          <ion-label>
            {{ data.titulo }}
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5" [(ngModel)]="data.ranking"><!--
              --><label class="label" [ngClass]="{'checkcolor':data.ranking >=5}" for="radio1" >★</label><!--
              --><input id="radio2" type="radio" name="estrellas" value="4" [(ngModel)]="data.califica"><!--
              --><label class="label" [ngClass]="{'checkcolor':data.ranking >=4}" for="radio2">★</label><!--
              --><input id="radio3" type="radio" name="estrellas" value="3" [(ngModel)]="data.ranking"><!--
              --><label class="label" [ngClass]="{'checkcolor':data.ranking >=3}" for="radio3">★</label><!--
              --><input id="radio4" type="radio" name="estrellas" value="2" [(ngModel)]="data.ranking"><!--
              --><label class="label" [ngClass]="{'checkcolor':data.ranking >=2}" for="radio4">★</label><!--
              --><input id="radio5" type="radio" name="estrellas" value="1" [(ngModel)]="data.ranking"><!--
              --><label class="label"  [ngClass]="{'checkcolor':data.ranking >=1}"for="radio5">★</label>
            </p>
          </ion-label>
        </ion-text>
        <!--<ion-button slot="end">
  
        </ion-button>
        <ion-button slot="end">
  
        </ion-button>-->
      </ion-col>
      <ion-col size="12">
        <ion-text color="success">
          <h6>{{ ( data.precioOferta || data.precioVenta || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</h6>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <span>({{ data.cantidad }})</span><span>UNIDADES DISPONIBLES</span>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <p [innerHtml]="data.detalle"></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="dataVisible == 'Calificaciones'">
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <ion-label>
            {{ data.titulo }}
            <p>({{ data.cantidad }})<span>UNIDADES DISPONIBLES</span></p>
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5" [(ngModel)]="dataComentario.calificacion"><!--
              --><label class="label" [ngClass]="{'checkcolor':dataComentario.calificacion >=5}" for="radio1" >★</label><!--
              --><input id="radio2" type="radio" name="estrellas" value="4" [(ngModel)]="dataComentario.calificacion"><!--
              --><label class="label" [ngClass]="{'checkcolor':dataComentario.calificacion >=4}" for="radio2">★</label><!--
              --><input id="radio3" type="radio" name="estrellas" value="3" [(ngModel)]="dataComentario.calificacion"><!--
              --><label class="label" [ngClass]="{'checkcolor':dataComentario.calificacion >=3}" for="radio3">★</label><!--
              --><input id="radio4" type="radio" name="estrellas" value="2" [(ngModel)]="dataComentario.calificacion"><!--
              --><label class="label" [ngClass]="{'checkcolor':dataComentario.calificacion >=2}" for="radio4">★</label><!--
              --><input id="radio5" type="radio" name="estrellas" value="1" [(ngModel)]="dataComentario.calificacion"><!--
              --><label class="label"  [ngClass]="{'checkcolor':dataComentario.calificacion >=1}"for="radio5">★</label>
            </p>
          </ion-label>
        </ion-text>        
      </ion-col>

      <ion-col size="12">
        <ion-label class="ion-color-lavel" position="stacked">Deja un Comentario<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea [(ngModel)]="dataComentario.detalle" placeholder="Descripcion del Producto" rows="6" cols="20">
        </ion-textarea>
        <ion-button color="success" (click)="submitComentario()" [disabled]="btndisableComentario">
          Enviar
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let item of lisComentario">
            <ion-avatar slot="start">
              <img [src]="item.idPersona.foto || './assets/perfil.png'">
            </ion-avatar>
            <ion-label>
              <h2>{{ item.idPersona.nombre }}</h2>
              <ion-text color="dark">
                <p>{{ item.idComentario.detalle }}</p>
              </ion-text>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5" [(ngModel)]="item.calificacion"><!--
                --><label class="label" [ngClass]="{'checkcolor':item.calificacion >=5}" for="radio1" >★</label><!--
                --><input id="radio2" type="radio" name="estrellas" value="4" [(ngModel)]="data.calificacion"><!--
                --><label class="label" [ngClass]="{'checkcolor':item.calificacion >=4}" for="radio2">★</label><!--
                --><input id="radio3" type="radio" name="estrellas" value="3" [(ngModel)]="item.calificacion"><!--
                --><label class="label" [ngClass]="{'checkcolor':item.calificacion >=3}" for="radio3">★</label><!--
                --><input id="radio4" type="radio" name="estrellas" value="2" [(ngModel)]="item.calificacion"><!--
                --><label class="label" [ngClass]="{'checkcolor':item.calificacion >=2}" for="radio4">★</label><!--
                --><input id="radio5" type="radio" name="estrellas" value="1" [(ngModel)]="item.calificacion"><!--
                --><label class="label"  [ngClass]="{'checkcolor':item.calificacion >=1}"for="radio5">★</label>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData1( $event )"
        >
          <ion-infinite-scroll-content loadingSpinner="crescent"
                                        loadingtext="Cargando data..">

          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="dataVisible == 'Relecion'">
    <ion-row>
      <ion-col *ngFor="let off of listProductos" size="6" [routerLink]="[ '/tabs/productoView', off.id ]">
        <img [src]="( ( off.foto | imagen ) || './assets/product.jpg' )" [routerLink]="[ '/tabs/productoView', off.id ]">
        <ion-text color="dark" class="sizeText">
          <ion-label>
            {{ off.titulo }}
            <p class="sizeSubheader">{{ off['idEmpresa']?.nombre }}</p>
          </ion-label>
        </ion-text>
        <ion-text color="success">
          <h6>{{ ( data.precioOferta || data.precioVenta || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</h6>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData2( $event )"
        >
          <ion-infinite-scroll-content loadingSpinner="crescent"
                                        loadingtext="Cargando data..">

          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <div class="ion-text-center">
    <ion-button color="success" (click)="submitCart()">
      ¡Montar Pedido!
    </ion-button>
    <ion-button color="success">
      <ion-icon color="medium" color="light" name="share-social-outline"></ion-icon>Compartir
    </ion-button>
  </div>
</ion-footer>
