<ion-header no-border translucent></ion-header>
<ion-content>
  <ion-list *ngIf="vista">
    <ion-item lines="none">
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Creacion de Tiket
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre del ( Cliente o mesa )</ion-label>
      <ion-input [(ngModel)]="data.cliente" type="text"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Datos del pedido
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-list-header>
    <ion-item>
      <ion-searchbar showCancelButton="focus" debounce="700" [value]="textoBuscar"
        (ionChange)="buscarProducto( $event)"></ion-searchbar>
    </ion-item>
    <ion-item *ngFor="let item of listArticulos" (click)="seleccionando( item )" lines="none" [ngClass]="{
        'check': item.check
      }">
      <ion-text color="dark" slot="start">
        {{ item.titulo | slice: 0: 100 }}
      </ion-text>
      <ion-text color="dark" slot="end">
        {{ _tools.monedaChange( 3, 2, item.valor || 0 ) }}
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!vista">
    <ion-item lines="none">
      <ion-toolbar>
        <div class="ion-text-center">
          <ion-title color="primary">
            Resumen de Tiket
          </ion-title>
        </div>
      </ion-toolbar>
    </ion-item>
    <ion-item *ngFor="let item of listSeleccionado" (click)="seleccionando( item )" lines="none" [ngClass]="{
      'check': item.check
    }">
      <ion-text color="dark" slot="start">
        {{ item.titulo | slice: 0: 100 }}
      </ion-text>
      <ion-text color="dark">
        <label>Cantidad: </label>
        <span> {{ item.cantidad }} </span>
      </ion-text>
      <ion-text color="dark" slot="end">
        {{ _tools.monedaChange( 3, 2, item.valor || 0 ) }}
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-list *ngIf="!vista">
    <ion-item lines = "none">
      <ion-text color="dark">
        Precio Final: {{ _tools.monedaChange( 3, 2, data.total || 0 ) }}
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-toolbar>
    <ion-button color="warning" expand="full" (click)="verTiket()" *ngIf="vista">
      Resumen Tiket
    </ion-button>
    <ion-button color="warning" expand="full" (click)="creandoTiket()" *ngIf="!vista">
      Creando Tiket
    </ion-button>
    <ion-button color="success" expand="full" (click)="finalizarTiket()">
      Finalizar Tiket
    </ion-button>
  </ion-toolbar>
</ion-footer>