<ion-header no-border translucent>

  <ion-toolbar color="success">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text>
      <ion-label>
        Ordenes
      </ion-label>
    </ion-text>
    <ion-button color="light" fill="clear" slot="end" [routerLink]="['/chech']">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-list #lista>

    <ion-item-sliding *ngFor="let item of listOrdenes; let idx=index">
      
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="item.idCliente.idFoto">
        </ion-avatar>
        <ion-label>
          
          <h3>Cliente {{ item.idCliente.username }}</h3>
          <h4>Precio Total {{ ( item.precio || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</h4>
          <h4>Ganancias {{ ( item.precio || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</h4>
          <p>{{ item.createdAt }}</p>
        </ion-label>
  
      </ion-item>
      <ion-item-options side="end">
        
        <!--<ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>-->

      </ion-item-options>
      

    </ion-item-sliding>
    
  </ion-list>

</ion-content>
