<ion-header no-border translucent>

  <ion-toolbar color="success">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text>
      <ion-label>
        Regalos
      </ion-label>
    </ion-text>
    <ion-button color="light" fill="clear" slot="end" [routerLink]="['/chech']">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="disable_list && listRegalos.length >=1">
    <ion-item *ngFor="let item of listRegalos">
      <ion-avatar slot="start">
        <img [src]="item.foto || 'https://hostel.keralauniversity.ac.in/images/NoImage.jpg'">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.titulo }}</h2>
        <h3>{{ item.subtitulo }}</h3>
        <ion-text color="dark">
          <p>{{ item.descripcion }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-text-center" *ngIf="listRegalos.length === 0">
    <ion-title>
      <h6>No hay datos a mostrar</h6>
    </ion-title>
  </div>

  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
      <ion-infinite-scroll-content loadingSpinner="crescent"
                                   loadingtext="Cargando data..">
  
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
