/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//@import '~material-design-icons/iconfont/material-icons.css';
.logo {
    height: 73px !important;
}

.itemDivider {
    padding: 0 !important;
    margin: 0 !important;
}

.precioFormat{
    font-size: 10px;
  }
.precioFormat2{
    font-size: 15px;
}
.grandeGanas{
    font-size: 12px;
}
.grandeGanas2{
    font-size: 17px;
}
.precioPromicion {
    text-decoration: line-through;
    color: green;
    margin-left: 10px;
}
.textSegtman {
    font-size: 10px;
}
.segmenButton{
    min-width: 25% !important;
}
.precio{
    color: #860909;
}

.casillaButtonPagos{
    width: 100% !important;
}

.secondaryBTN {
    background: red !important;
    color: white !important;
    border-radius: 5px !important;
}

.primaryBTN {
    background: green !important;
    color: white !important;
    border-radius: 5px !important;
}

.imgPrincipal{
    height: 140px !important;
    width: 220px !important;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 247) {
    .imgPrincipal{
        height: 108px !important;
        width: 220px !important;
    }
}
@media only screen and (min-width: 300px) {
    .imgPrincipal{
        height: 136px !important;
        width: 220px !important;
    }
}

@media only screen and (min-width: 400px) {
    .imgPrincipal{
        height: 177px !important;
        width: 220px !important;
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 450px) {
    
    .imgPrincipal{
        height: 203px !important;
        width: 220px !important;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 500px) {
    .imgPrincipal{
        height: 230px !important;
        width: 220px !important;
    }
}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 645px) {
    .imgPrincipal{
        height: 300px !important;
        width: 220px !important;
    }
  }
  
