<ion-header no-border translucent>

  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-text>
      <ion-label>
        {{ titulo }} Ordenes
      </ion-label>
    </ion-text>
    <ion-button fill="clear" slot="end" (click)="agregar()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-toolbar>
        <ion-label color="primary">
          Informacion del Cliente
        </ion-label>
      </ion-toolbar>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Nombre Cliente</ion-label>
        <ion-input [(ngModel)]="data.cliente.nombreCliente" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Cedula del cliente</ion-label>
        <ion-input [(ngModel)]="data.cliente.cedulaCliente" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Telefono del cliente</ion-label>
        <ion-input [(ngModel)]="data.cliente.celularCliente" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email del cliente</ion-label>
      <ion-input [(ngModel)]="data.cliente.emailCliente" type="text"></ion-input>
  </ion-item>
    <ion-item>
        <ion-label position="floating">Fecha de Pedido</ion-label>
        <ion-input [(ngModel)]="data.factura.fecha_pedido" type="text"></ion-input>
    </ion-item>
    <ion-item>  
        <ion-label position="floating">Direccion del Cliente</ion-label>
        <ion-input [(ngModel)]="data.cliente.direccionCliente" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toolbar>
        <ion-label color="primary">
          Productos
        </ion-label>
      </ion-toolbar>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-item *ngFor="let item of data.articulo; let idx=index">
            <ion-avatar slot="start">
              <img [src]="item.files[0] || 'https://hostel.keralauniversity.ac.in/images/NoImage.jpg'">
            </ion-avatar>
            <ion-label>
              <h2>{{ item.titulo }}</h2>
              <h3>Cantidad: {{ item.cantidadAduiridad || 1 }}</h3>
              <p>Precio: ${{ ( item.precioVenta || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</p>
            </ion-label>
            <ion-button fill="clear" color="danger" (click)="deleteCart( idx, item )" slot="end">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-list>
    <ion-item slot="start">
      <p>Total: {{ ( data.total || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</p>
    </ion-item>
    <ion-item slot="end">
      <p>Comision 11%: {{ ( data.ganancias || 0 ).toLocaleString('de-DE', { style: 'currency', currency: 'COP' }) }}</p>
    </ion-item>
  </ion-list>
</ion-footer>
