<ion-header no-border translucent>

  <ion-toolbar color="success">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="/tabs/menu"></ion-back-button>
    </ion-buttons>
    <ion-text>
      <ion-label>
        Embajadores
      </ion-label>
    </ion-text>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="200" pullMax="300">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row *ngIf="!selecciono">
      <ion-col size="6" class="tumbaPaddin2" *ngFor="let off of listEmbajadores">
        <ion-card class="marginCard">
          <img [src]="( ( off.idPersona.foto ) || './assets/product.jpg' )">
          <ion-card-header class="tumbaPadding">
            <ion-card-subtitle>
              <ion-text class="espacio" color="primary">
                <span>Vendedora: </span>
                <span>{{ off['idPersona']?.nombre }}</span>
              </ion-text>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-text color="success">
                <span class="precioFormat espacio grandeGanas">
                  Comision Ganancias: {{ _tools.monedaChange( 3,2, ( off.monto || 0 ) ) }}
                </span><br>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center" *ngIf="listEmbajadores.length === 0">
    <ion-title>
      <h6>No hay datos a mostrar</h6>
    </ion-title>
  </div>

  <ion-infinite-scroll threshold="150px"
                         (ionInfinite)="loadData( $event )"
                        >
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                  loadingtext="Cargando data..">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
